* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; 
}

#gmail {
    width: 50vw;
    text-align: right;
}


#nav-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 12px;
}

a:hover {
    text-decoration:underline;
}

main {
    height: 100%;
    padding-bottom: -60px;
}

#search-section {
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
}    

#search-bar {
    border-radius: 20px;
    width: 400px;
    height: 30px;
    text-align: center;
}

/* button {
    background-color: #f1f1f1;
    border-style: none; 
    border-radius: 3px;
    height: 40px;
    width: 120px;
    margin-left: 30px;
    padding-top: 30px;
} */

#buttons ul {
    text-align: center;
    list-style: none;
}

#buttons li {
    display: inline-block;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#search, #lucky {
    border-style: none;
    background-color: #f1f1f1;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

#search:hover, #lucky:hover {
    
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 5px;
}

#green {
    color:green;
}

#carbon {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #808080;

}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#footer li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10px;
}

.foot-links {
    color: #808080;
}

#privacy {
    margin-left: 150px;
}

#footer {
    background-color: #f1f1f1;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* 
#footer a {
    margin: 0px 15px 0px 15px;
} */